@import "../_variables.styl";

section#workshops

  .section-subtitle
    margin-bottom: 20px

  .add-to-calendar-button
    text-align: center
    margin: 20px 0
    a
      padding-left: 10px
      padding-right: 10px
  #workshop-organizer
    padding-top: 30px

  #registration
    text-align: center
    padding-top: 30px

section#workshop-list
  .workshop-properties
    float: left
    margin-right: 50px
    @media md
      margin-right: 10px
    @media lg
      margin-right: 100px

  .green-button
    float: right
    @media lg
      float: none
