section#workshops.first-section.light-background
  .container
    .row
      .col-xs-12.section-header
        .section-title
          | Use your knowledge
        .section-line: hr
    .row
      .col-xs-12
        p.section-paragraph
          | During the 3rd day of droidcon Krak贸w 2016 you will have the chance
          | to use knowledge you have or acquired during the conference.
        p.section-paragraph
          | This year we prepared for you a day full of workshops
          | and a Hackathon!
    .row
      .col-xs-12.col-md-6
        .section-subtitle Where?
        p.section-paragraph
          | IG office in Krak贸w
          br
          | 42B Kapelanka St., 5th floor
      .col-xs-12.col-md-6
        .section-subtitle When?
        p.section-paragraph
          | 10th December 2016,
          br
          | Saturday
      .col-xs-12.add-to-calendar-button
        a.green-button(href="http://www.google.com/calendar/event?action=TEMPLATE&text=droidcon+Krakow+2016+Workshops+and+Hackathon&dates=20161210T080000Z/20161210T170000Z&details=Event%20Details%20Here%20http://droidcon.pl/%23/workshops&location=2%20Monte%20Cassino%20St%2C%20Krakow" target="_blank" rel="nofollow") Add to Google Calendar

    .row
      .col-xs-12
        p.section-paragraph
          | Stay in Krak贸w one day longer and learn more about
          | Android during workshops sessions or win cool prizes at the Hackathon!
        p.section-paragraph
          | Wait for some more news about workshop topics and the Hackathon!

  #workshop-organizer.container
    .row.row-centered
      .col-xs-12
        .section-subtitle Main organizer
      .col-xs-6.col-md-4.col-lg-3.col-centered
        .partner-bracket.tooltip
          span.tooltiptext IG Krak贸w
          a(href="https://www.ig.com" target="_blank")
            img(src="{{IGlogo}}" alt="IG logo")

  #registration.container
    .row
      .col-xs-12
        a.green-button(href="#" target="_blank") Registration Soon!

section#workshop-list.white-background
  .container
    .row
      .col-xs-12.section-header
        .section-title
          | Workshop list
        .section-line: hr
    .row
      .col-xs-12.talk-bracket(*ngFor="let workshop of workshops")
        .row
          .col-xs-12.col-md-8.talk-details
            h3.talk-title([innerHTML]="workshop.sessionTitle")
            .talk-tags
              .talk-tag(*ngFor="let tag of workshop.sessionTags") {{ tag }}
            span.talk-description([innerHTML]="workshop.sessionDescription")
            .talk-length.workshop-properties
              | Workshop length:
              strong  {{ workshop.sessionLength }} h.
              br
              | Workshop capacity:
              strong  {{ workshop.workshopCapacity }}
            a.green-button(href="#" target="_blank") Register
          .col-xs-12.col-md-4.talk-speaker(*ngFor="let sessionSpeaker of workshop.speakerId")
            img.speaker-photo((click)="setSpeaker(speakers[ sessionSpeaker - 1 ])", src="{{speakerImg(speakers[ sessionSpeaker - 1 ].imageUrl)}}", data-toggle='modal', data-target='#speakerModal')
            span.speaker-name {{ speakers[ sessionSpeaker - 1 ].firstName }} {{ speakers[ sessionSpeaker - 1 ].lastName }}
            span.speaker-title {{ speakers[ sessionSpeaker - 1 ].websiteTitle }}

speaker-modal([modal]="modal")
