doctype html
html
  head
    base(href='/')
    title Angular 2.0 App
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    //- script(src='node_modules/core-js/client/shim.min.js')
    //- script(src='node_modules/reflect-metadata/Reflect.js')
  body
    header
      .container
        .row
          .col-xs-12
            h1 This is header of the page


    section#app
      .container
        .row
          .col-xs-8
            my-app Loading...

    footer
      .container
        .row
          .col-xs-12
            span Example app by Grazynka
