@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700");
@font-face
  font-family 'nerissemibold'
  src url('./neris-fontfacekit/neris_semibold/Neris-SemiBold-webfont.eot')
  src url('./neris-fontfacekit/neris_semibold/Neris-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./neris-fontfacekit/neris_semibold/Neris-SemiBold-webfont.woff') format('woff'),
         url('./neris-fontfacekit/neris_semibold/Neris-SemiBold-webfont.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'nerisblack'
  src url('./neris-fontfacekit/neris_black/Neris-Black-webfont.eot')
  src url('./neris-fontfacekit/neris_black/Neris-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('./neris-fontfacekit/neris_black/Neris-Black-webfont.woff') format('woff'),
         url('./neris-fontfacekit/neris_black/Neris-Black-webfont.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'nerislight'
  src url('./neris-fontfacekit/neris_light/Neris-Light-webfont.eot')
  src url('./neris-fontfacekit/neris_light/Neris-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./neris-fontfacekit/neris_light/Neris-Light-webfont.woff') format('woff'),
         url('./neris-fontfacekit/neris_light/Neris-Light-webfont.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'neristhin'
  src url('./neris-fontfacekit/neris_thin/Neris-Thin-webfont.eot')
  src url('./neris-fontfacekit/neris_thin/Neris-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('./neris-fontfacekit/neris_thin/Neris-Thin-webfont.woff') format('woff'),
         url('./neris-fontfacekit/neris_thin/Neris-Thin-webfont.ttf') format('truetype')
  font-weight normal
  font-style normal
