#top
header#main-banner
  #header-group
    img#main-graphic(src="{{mainBackgroundImg}}" alt="droidcon Kraków main graphic")
    #conference-timer
      .clock-builder-output
        .countdown-fld
          span Days
          #days
        .countdown-fld
          span Hours
          #hours
        .countdown-fld
          span Minutes
          #minutes
        .countdown-fld
          span Seconds
          #seconds
    #main-buttons
      a.green-button(href="https://goo.gl/eyw7uF" target="_blank") Buy ticket
      a.green-button(href="https://goo.gl/forms/jRwLWmej0aflhVII2" target="_blank") Call 4 Papers
      //- TODO Dodać href do sekcji Contact
      a.green-button(href="#contact") Contact

section#about.white-background
  .container
    .row
      .col-xs-7.col-sm-6.col-lg-4
        h1.section-header About the conference
    .row
      .col-xs-12
        p.section-paragraph
          | droidcon Kraków is a part of global conference
          | series and a network focusing on the best of Android.
          br
          | Be a part of it!
          br
          | Join 3rd edition of droidcon Kraków!
    .row
      .col-xs-12.col-md-6
        .when-where
          img(src="{{calendarIcon}}" alt="Calendar icon image")
          p
            | 8-9th December 2016 - Conference
            br
            | 10th December 2016 - Hackathon
      .col-xs-12.col-md-6
        .when-where.empty
          img(src="{{pinIcon}}" alt="Venue icon image")
          p
            | ParkInn by Radisson
            br
            | Monte Cassino 2 St., Kraków

section#recaption.light-background
  .container
    .row
      .col-xs-7.col-sm-6.col-lg-4
        h1.section-header  How was it last year?
    .row
      .col-xs-12
        iframe#youtube-iframe(
          width="320" height="215"
          src="https://www.youtube.com/embed/Dg-dbrP9PaM"
        )
    .row
      .col-xs-12
        .section-paragraph
          a.green-button(href="https://www.youtube.com/watch?v=Dg-dbrP9PaM&list=PLvpKlOXx1MBMfL4llJOi0VX6LcQVP0Su0" target="_blank") See more

section#participate.green-background
  .container
    .row
      .col-xs-7.col-sm-6.col-lg-4
        h1.section-header Participate in 2016!
    .row
      .col-xs-12.col-lg-4
        img(src="{{learnIcon}}" alt="Learn icon")
        h4.section-subtitle Come as attendee
        p.section-paragraph
          | New place, more new speakers,
          | two days full of anroid talks
          | and workshops on day three!
          | You simply must be there this year!
      .col-xs-12.col-lg-4
        img(src="{{teachIcon}}" alt="Teach icon")
        h4.section-subtitle Become a speaker
        p.section-paragraph
          | Have knowledge about Android technology
          | and want to share it with others?
          | Nothing more simple!
          | Submit your paper and become a speaker at
          | droidcon Kraków 2016!
      .col-xs-12.col-lg-4
        img(src="{{supportIcon}}" alt="Support icon")
        h4.section-subtitle
          | Support us
        p.section-paragraph
          | Help us make the conference a better event
          | simply by donating, volunteering or supporting us in
          | social media!
          | Contact us for more information!

section#speakers-preview.white-background
  .container
    .row
      .col-xs-7.col-sm-6.col-lg-4
        h1.section-header See our speakers!
    .row.preview-stack
      .col-xs-12.col-md-4(*ngFor="let speaker of speakerPreview")
        .speaker-bracket
          img.speaker-photo(src="{{speakerPreviewImg(speaker.imageUrl)}}")
          span.speaker-name {{speaker.firstName}} {{speaker.lastName}}
          span.speaker-title {{speaker.websiteTitle}}
    .row
      .col-xs-12
        p.section-paragraph
          a.green-button([routerLink]="['speakers']") Check out the rest of the current lineup

section#call-4-paper.black-background
  .container
    .row
      .col-xs-7.col-sm-6.col-lg-4
        h1.section-header Submit your paper
    .row
      .col-xs-12
        p.section-paragraph
          | Call For Papers for droidcon Kraków 2016 is open
          | and you can submit your ideas of talks for this year's agenda.
        p.section-paragraph
          | Hope to see you on droidconKR 2016!
        p.section-paragraph.button-paragraph
          a.green-button(href="https://goo.gl/forms/jRwLWmej0aflhVII2" target="_blank") Submit your talk

section#sponsors.white-background
  .container
    .row
      .col-xs-7.col-sm-6.col-lg-4
        h1.section-header Sponsor the event
    .row
      .col-xs-12
        p.section-paragraph
          | Don't miss the opportunity to be present on our event as a Sponsor.
          | Hundreds of Android developers, designers and otherwise pasionates in this platform
          | will be there too.
        p.section-paragraph
          | Be there with us on 8th - 10th December!
        p.section-paragraph.button-paragraph
          a.green-button(href="mailto:contact+partner@droidcon.pl") Ask for sponsor opportunities


partners

section#contact.grey-background
  .container
    .row
      .col-xs-7.col-sm-6.col-lg-4
        h1.section-header  Contact us
    .row
      .col-xs-12
        p.section-paragraph
          | If you want to know more or have any questions regarding droidcon
          | Kraków, don't hesitate to email us!
      .col-xs-12
        p.section-paragraph
          a.green-button(href="mailto:contact@droidcon.pl" target="_blank") contact@droidcon.pl
