@import "../_variables.styl";

section#code-of-conduct
  padding-top: 100px
  .section-paragraph
    text-align: left
    max-width: none
  .code-subtitle
    font-weight: 700
  @media lg
    padding-top: 200px
    .section-paragraph
      margin-bottom: 30px
