section#speakers.first-section.white-background
  .container
    .row
      .col-xs-12.section-header
        .section-title
          | See our
          br
          | speakers!
        .section-line: hr
    .row.full-stack
      .col-xs-12.col-md-4(*ngFor="let speaker of speakers")
        .speaker-bracket
          img.speaker-photo((click)="setSpeaker(speaker)", src="{{speakerImg(speaker.imageUrl)}}", data-toggle='modal', data-target='#speakerModal')
          span.speaker-name((click)="setSpeaker(speaker)", data-toggle='modal', data-target='#speakerModal') {{speaker.firstName}} {{speaker.lastName}}
          span.speaker-title((click)="setSpeaker(speaker)", data-toggle='modal', data-target='#speakerModal') {{speaker.websiteTitle}}
    .row
      .col-xs-12
        p.section-paragraph
          | More speakers will be published soon!

speaker-modal([modal]="modal")
