@import "../_variables.styl";

/* Speaker section styles */
section#speakers
  padding-top: 100px
  @media lg
    padding-top: 200px

section#speakers-preview, section#speakers
  .speaker-bracket
    text-align: center
    margin: 15px auto
    @media lg
      margin: 30px auto

#speakerModal
  font-family: "nerislight", Helvetica, Arial, sans-serif
  text-align: center
  .modal-content
    border: none
    border-radius: 3px
  .modal-header
    background-color: colGreen
    .speaker-photo
      margin-top: 20px
      margin-bottom: 20px
      @media lg
        margin-top: 50px
        margin-bottom: 35px
    .speaker-title
      margin-bottom: 10px
      @media lg
        margin-bottom: 30px
  .modal-body
    padding: 25px 40px
    font-size: 20px
    @media lg
      padding: 45px 80px
  .modal-footer
    border: none
    text-align: center
    width: 100%
    padding: 0px 50px 30px
    @media lg
      padding: 0px 150px 65px
    .social-icon svg
      height: 30px
      margin: 15px auto
      display: block
      .cls-1
        fill: colGreen


// Common styles
.speaker-photo
  height: 200px
  width: auto
  border-radius: 100%
  display: block
  margin: 10px auto
  box-shadow: none
  transition: all 0.2s
  &:hover
    cursor: pointer
    box-shadow: 0 0 0 5px colGreen
  @media lg
    height: 250px
    margin: 15px auto
.speaker-name
  display: block
  font-weight: 700
.speaker-title
  display: block
  font-size: 20px
