
section#speakers.white-background
  .container
    .row
      .col-xs-7.col-sm-6.col-lg-4
        h1.section-header See our speakers!
    .row.preview-stack
      .col-xs-12.col-md-4(*ngFor="let speaker of speakers")
        .speaker-bracket
          img.speaker-photo(src="{{speakerImg(speaker.imageUrl)}}")
          span.speaker-name {{speaker.firstName}} {{speaker.lastName}}
          span.speaker-title {{speaker.websiteTitle}}

    //- TODO - when routing added, add a seperate page with full view of speakers
    //- .row.full-stack(routerLink="/speakers" [routerLinkActive]="['hidden']")
    //-   .col-xs-12.col-md-4(*ngFor="let speaker of speakers")
    //-     .speaker-bracket
    //-       img.speaker-photo(src="{{speakerImg(speaker.imageUrl)}}")
    //-       span.speaker-name {{speaker.firstName}} {{speaker.lastName}}
    //-       span.speaker-title {{speaker.websiteTitle}}
    .row
      .col-xs-12
        p.section-paragraph
          | More speakers will be published soon!
