@import "../_variables.styl";

/* Speaker section styles */
section#speakers
  padding-top: 100px
  @media lg
    padding-top: 170px



section#speakers-preview, section#speakers
  .speaker-bracket
    text-align: center
    margin: 15px auto
    @media lg
      margin: 30px auto


// Common styles
.speaker-photo
  height: 200px
  width: auto
  border-radius: 100%
  display: block
  margin: 10px auto
  box-shadow: none
  transition: all 0.3s
  @media lg
    height: 250px
    margin: 15px auto
.speaker-name
  display: block
  font-weight: 700
.speaker-title
  display: block
  font-size: 20px
  height: 30px
.speaker-photo
.speaker-name
.speaker-title
  &:hover
    cursor: pointer
.speaker-photo
  &:hover
    opacity: 0.6
