@import "./_variables.styl";

.container
  @media lg
    width: 1250px

section
  padding: 50px 25px
  font-family: "nerislight", Helvetica, Arial, sans-serif
  font-size: 18px
  @media sm
    font-size: 20px
  @media md
    padding: 70px 0
    font-size: 22px
  .section-header
    font-family: "nerisblack", Helvetica, Arial, sans-serif
    font-size: 40px
    @media md
      font-size: 55px
      margin-bottom: 30px
  .section-subtitle
    text-align: center
    font-family: "nerissemibold", Helvetica, Arial, sans-serif
    font-size: 28px

  .section-paragraph
    min-width: 300px
    max-width: 320px
    padding: 5px 0 10px
    text-align: center
    margin: 20px auto
    @media sm
      min-width: 340px
      max-width: 360px
    @media md
      max-width: 510px
    @media lg
      margin: 0 auto

// backgrounds
.white-background
  background-color: colWhite
  color: textBlack

.light-background
  background-color: colLight
  color: textBlack

.grey-background
  background-color: colGrey
  color: colWhite

.green-background
  background-color: colGreen
  color: colWhite

// Elements
.green-button
  min-width: 200px
  height: 55px
  text-align: center
  line-height: 55px
  margin: 0 10px
  background-color: colGreen
  color: white
  font-family: 'nerissemibold', sans-serif
  font-size: 22px
  transition: background-color 0.3s ease
  border-radius: 10px
  display: inline-table
  &:hover, &:active, &:focus
    background-color: #7CC900
    text-decoration: none
    color: white
  @media md
    font-size: 24px
  @media lg
    padding: 0 30px
