@import "./_variables.styl";

.container
  @media lg
    width: 1250px

// centering bootstrap columns
.row-centered
  text-align:center
.col-centered
  display:inline-block
  float:none
  /* reset the text-align */
  text-align:left
  /* inline-block space fix */
  margin-right:-4px

section
  padding: 50px 25px
  font-family: "nerislight", Helvetica, Arial, sans-serif
  font-size: 18px
  @media sm
    font-size: 20px
  @media md
    padding: 70px 0
    font-size: 22px
  .section-header
    font-family: "nerisblack", Helvetica, Arial, sans-serif
    font-size: 40px
    margin-bottom: 40px
    @media md
      font-size: 55px
  .section-subtitle
    text-align: center
    font-family: "nerissemibold", Helvetica, Arial, sans-serif
    font-size: 28px

  .section-paragraph
    min-width: 300px
    max-width: 320px
    padding: 5px 0 10px
    text-align: center
    margin: 20px auto
    line-height: 1.3
    @media sm
      min-width: 340px
      max-width: 360px
    @media md
      max-width: 510px
    @media lg
      margin: 0 auto

// backgrounds
.white-background
  background-color: colWhite
  color: textBlack

.light-background
  background-color: colLight
  color: textBlack

.grey-background
  background-color: colGrey
  color: colWhite

.green-background
  background-color: colGreen
  color: colWhite

.black-background
  background-color: colDark
  color: colWhite

// Elements
.green-button
  min-width: 200px
  height: 55px
  text-align: center
  line-height: 55px
  margin: 0 10px
  background-color: colGreen
  color: white
  font-family: 'nerissemibold', sans-serif
  font-size: 22px
  transition: background-color 0.3s ease
  border-radius: 10px
  display: inline-table
  &:hover, &:active, &:focus
    background-color: #63a000
    text-decoration: none
    color: white
  @media md
    font-size: 24px
  @media lg
    padding: 0 30px
    margin: 10px

// Selection green color
::selection
  background: colGreen; /* WebKit/Blink Browsers */
::-moz-selection
  background: colGreen; /* Gecko Browsers */

// Custom tooltip
.tooltip
  position: relative
  display: inline-block
  opacity: 1
  font-family: 'nerislight', sans-serif
  font-weight: 600
  z-index: 1000

/* Tooltip text */
.tooltip .tooltiptext
  visibility: hidden
  width: 120px
  background-color: white
  color: black
  text-align: center
  padding: 10px
  /* Position the tooltip text - see examples below! */
  position: absolute
  z-index: 1
  bottom: 100%
  left: 50%
  /* Use half of the width, to center the tooltip */
  margin-left: -60px
  opacity: 0
  transition: opacity 0.3s
  -webkit-box-shadow: 1px 5px 11px -2px rgba(0,0,0,0.3)
  -moz-box-shadow: 1px 5px 11px -2px rgba(0,0,0,0.3)
  box-shadow: 1px 5px 11px -2px rgba(0,0,0,0.3)

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext
  visibility: visible
  opacity: 1

.tooltip .tooltiptext::after
  content: " ";
  position: absolute
  /* At the bottom of the tooltip */
  top: 100%
  left: 50%
  margin-left: -5px
  border-width: 5px
  border-style: solid
  border-color: white transparent transparent transparent
