
xs = "(max-width: 575px)"
sm = "(min-width: 576px)"
md = "(min-width: 768px)"
lg = "(min-width: 992px)"
xl = "(min-width: 1200px)"

// Text colors
textBlack = #282828

// Background colors
colGreen = #6EB300
colWhite = #FFFFFF
colLight = #EEEDEC
colDark = #1F1F1F
colGrey = #4D4D4D
