@import "../assets/fonts/fonts.styl";
/* Master Styles */

html
  position: relative
  min-height: 100%

html, body
  margin: 0
  padding: 0

header
  height: 100px

section#app
  padding: 0
  margin: 0
  padding-bottom: 50px

#app-par
  color: red
