header
  .container
    .row
      .col-xs-12
        h1 droidcon Kraków website


section#app
  .container
    .row
      .col-xs-8
        p#app-par
          | This is the firs Angular component in the app

app-footer
