section#sessions.light-background
  .container
    .row
      .col-xs-7.col-sm-6.col-lg-4
        h1.section-header Explore the sessions

    .row
      .col-xs-12.talk-bracket(*ngFor="let session of sessions")
        .row
          .col-xs-12.col-md-8.talk-details
            h3.talk-title {{ session.sessionTitle }}
            .talk-tags
              .talk-tag(*ngFor="let tag of session.sessionTags") {{ tag }}
            span.talk-description([innerHTML]="session.sessionDescription")
            span.talk-length
              | Talk length:
              strong  {{ session.sessionLength }} min.
          .col-xs-12.col-md-4.talk-speaker
            img.speaker-photo((click)="setSpeaker(speakers[ session.speakerId - 1 ])", src="{{speakerImg(speakers[ session.speakerId - 1 ].imageUrl)}}", data-toggle='modal', data-target='#speakerModal')
            span.speaker-name {{ speakers[ session.speakerId - 1 ].firstName }} {{ speakers[ session.speakerId - 1 ].lastName }}
            span.speaker-title {{ speakers[ session.speakerId - 1 ].websiteTitle }}

    .row
      .col-xs-12
        p.section-paragraph
          | More sessions will be available soon!

speaker-modal([modal]="modal")
