section#sessions.first-section.light-background
  .container
    .row
      .col-xs-12.section-header
        .section-title
          | Explore the
          br
          | sessions
        .section-line: hr
    .row
      .col-xs-12.talk-bracket(*ngFor="let session of sessions")
        .row
          .col-xs-12.col-md-8.talk-details
            h3.talk-title([innerHTML]="session.sessionTitle")
            .talk-tags
              .talk-tag(*ngFor="let tag of session.sessionTags") {{ tag }}
            span.talk-description([innerHTML]="session.sessionDescription")
            span.talk-length
              | Talk length:
              strong  {{ session.sessionLength }} min.
          .col-xs-12.col-md-4.talk-speaker(*ngFor="let sessionSpeaker of session.speakerId")
            img.speaker-photo((click)="setSpeaker(speakers[ sessionSpeaker - 1 ])", src="{{speakerImg(speakers[ sessionSpeaker - 1 ].imageUrl)}}", data-toggle='modal', data-target='#speakerModal')
            span.speaker-name {{ speakers[ sessionSpeaker - 1 ].firstName }} {{ speakers[ sessionSpeaker - 1 ].lastName }}
            span.speaker-title {{ speakers[ sessionSpeaker - 1 ].websiteTitle }}

speaker-modal([modal]="modal")
