section#sessions.white-background
  .container
    .row
      .col-xs-7.col-sm-6.col-lg-4
        h1.section-header Explore the sessions

    .row
      .col-xs-12
        p.section-paragraph
          | The sessions will be available really soon!
