section#sponsors.white-background
  .container
    .row
      .col-xs-12.section-header
        .section-title
          | Meet our
          br
          | Sponsors
        .section-line: hr

    .row.row-centered
      .col-xs-6.col-md-4.col-lg-3.col-centered(*ngFor="let sponsor of bronzeSponsors")
        .partner-bracket.tooltip
          span.tooltiptext {{sponsor.sponsorName}}
          .sponsor-category {{ sponsor.sponsorPackage }}
          a(href="{{sponsor.sponsorUrl}}" target="_blank")
            img(src="{{sponsorLogo(sponsor.sponsorLogo)}}" alt="{{sponsor.sponsorName}}")
    .row.row-centered
      .col-xs-6.col-md-4.col-lg-3.col-centered(*ngFor="let sponsor of productPartners")
        .partner-bracket.tooltip
          span.tooltiptext {{sponsor.sponsorName}}
          .sponsor-category {{ sponsor.sponsorPackage }} Partner
          a(href="{{sponsor.sponsorUrl}}" target="_blank")
            img(src="{{sponsorLogo(sponsor.sponsorLogo)}}" alt="{{sponsor.sponsorName}}")
    .row.row-centered
      .col-xs-6.col-md-4.col-lg-3.col-centered(*ngFor="let sponsor of travelPartners")
        .partner-bracket.tooltip
          span.tooltiptext {{sponsor.sponsorName}}
          .sponsor-category {{ sponsor.sponsorPackage }} Partner
          a(href="{{sponsor.sponsorUrl}}" target="_blank")
            img(src="{{sponsorLogo(sponsor.sponsorLogo)}}" alt="{{sponsor.sponsorName}}")

    .row
      .col-xs-12
        p.section-paragraph
          | Don't miss the opportunity to be present on our event as a Sponsor.
          | Hundreds of Android developers, designers and otherwise pasionates in this platform
          | will be there too.
        p.section-paragraph
          | Be there with us on 8th - 10th December!
        p.section-paragraph.button-paragraph
          a.green-button(href="mailto:contact+sponsor@droidcon.pl") Ask for sponsor opportunities
