section#partners.light-background
  .container
    .row
      .col-xs-12.section-header
        .section-title
          | Meet our
          br
          | Partners
        .section-line: hr
      .col-xs-12
        p.section-paragraph
          | Meet our great partners that have been supporting us among the years!
    .row.row-centered
      .col-xs-6.col-md-4.col-lg-3.col-centered(*ngFor="let partner of partners")
        .partner-bracket.tooltip
          span.tooltiptext {{partner.partnerName}}
          a(href="{{partner.partnerUrl}}" target="_blank")
            img(src="{{partnerLogo(partner.partnerLogo)}}" alt="{{partner.partnerName}}")

    .row
      .col-xs-12
        .section-paragraph
          a.green-button#partner-contact(href="mailto:contact+partner@droidcon.pl") Become a partner
