section#partners.light-background
  .container
    .row
      .col-xs-7.col-sm-6.col-lg-4
        h1.section-header  Meet our Partners
      .col-xs-12
        p.section-paragraph
          | Meet our great partners that have been supporting us among the years!
    .row
      .col-xs-6.col-md-4.col-lg-3(*ngFor="let partner of partners")
        .partner-bracket
          a(href="{{partner.partnerUrl}}" target="_blank" title="{{partner.partnerName}}")
            img(src="{{partnerLogo(partner.partnerLogo)}}" alt="{{partner.partnerName}}")

    .row
      .col-xs-12
        .section-paragraph
          a.green-button#partner-contact(href="mailto:contact+partner@droidcon.pl") Become a partner
