@import "../_variables.styl";

// Footer heights
xsFooterHeight = 400px;
mdFooterHeight = 350px;
lgFooterHeight = 250px;

body
  margin-bottom: xsFooterHeight
  @media md
    margin-bottom: mdFooterHeight
  @media lg
    margin-bottom: lgFooterHeight

footer#footer-section
  position: absolute
  bottom: 0
  width: 100%
  height: xsFooterHeight
  background-color: #1F1F1F
  color: #EEEDEC
  text-align: center
  font-family: "neristhin", Helvetica, Arial, sans-serif
  font-size: 16px
  padding: 20px 0 0
  @media sm
    font-size: 18px
    padding: 30px 0 0
  @media md
    height: mdFooterHeight
    padding: 30px 0
    text-align: left
  @media lg
    height: lgFooterHeight

  .footer-header
    font-weight: 700
  .footer-list
    list-style: none
    margin: 10px 0
    padding: 0
    li
      margin-top 5px
  .anchor
    color: colWhite
    transition: all 0.3s
    &:hover
      color: colGreen
      text-decoration: none

  #social-and-global
    padding: 20px 0
    @media sm
      padding: 25px 0
    @media md
      text-align: right
      float: right
      margin-top: -35px
    @media lg
      padding: 0
      margin: 10px 0 30px

    #social-icons
      display: inline-block
      margin-right: 0

    .social-img
      float: left
    .social-img svg
      height: 30px
      margin: 0 22px
      .cls-1
        transition: all 0.3s
      &:hover
        .cls-1
          fill: colGreen
      @media sm
        margin: 0 30px
      @media md
        margin: 0 15px
      @media lg
        margin: 0 20px

  #global-reference
    text-align: left
    font-size: 14px
    margin: 20px 0
    img
      height: 75px
      float: right
      @media lg
        height: 90px
    p
      height 70px
      margin 5px 0
      max-width 200px
      @media lg
        margin: 10px 0

  #copyright
    position: absolute
    bottom: 20px
    width: 100%
    text-align: center
    font-size: 14px
