footer#footer-section
  .container
    .row
      .col-xs-6.col-md-4.col-lg-3
        .footer-header Conference
        ul.footer-list
          li: a.anchor(href="#about") About
          li: a.anchor(href="#speakers") Speakers
          //- li: a.anchor(href="") Code of Conduct
          li: a.anchor(href="#contact") Contact
      .col-xs-6.col-md-4.col-lg-3
        .footer-header Previous editions
        ul.footer-list
          li: a.anchor(href="http://2015.droidcon.pl" target="_blank") 2015
          li: a.anchor(href="http://2014.droidcon.pl" target="_blank") 2014
      .col-xs-12.col-md-12.col-lg-6#social-and-global
        .row#social-icons
          .col-xs-12
            a(href="https://www.facebook.com/droidconpl" target="_blank")
              .social-img([inlineSVG]="'../../assets/images/facebook.svg'")
            a(href="https://twitter.com/droidconkr" target="_blank")
              .social-img([inlineSVG]="'../../assets/images/twitter.svg'")
            a(href="https://github.com/droidconpl" target="_blank")
              .social-img([inlineSVG]="'../../assets/images/github.svg'")
            a(href="https://plus.google.com/u/3/+droidconKrak%C3%B3wPL" target="_blank")
              .social-img([inlineSVG]="'../../assets/images/google+.svg'")
            a(href="https://www.youtube.com/watch?v=Dg-dbrP9PaM&list=PLvpKlOXx1MBMfL4llJOi0VX6LcQVP0Su0" target="_blank")
              .social-img([inlineSVG]="'../../assets/images/youtube.svg'")
            //- TODO picture media
        .row#global-reference
          .col-xs-6.col-md-9.col-lg-8
            img(src="{{socialAssets.droidconGlobal.imgSrc}}" alt="{{socialAssets.droidconGlobal.alt}}")
          .col-xs-6.col-md-3.col-lg-4
            p
              | droidcon is a registered trademark by
              | Mobile Seasons GmbH
  #copyright.container
    .row
      .col-xs-12
         span &copy; droidcon Kraków 2016
