footer#footer-section
  .container
    .row
      .col-xs-6.col-md-4.col-lg-3
        .footer-header Conference
        ul.footer-list
          li: a.anchor(href="#about") About
          li: a.anchor(href="#speakers") Speakers
          //- li: a.anchor(href="") Code of Conduct
          li: a.anchor(href="#contact") Contact
      .col-xs-6.col-md-4.col-lg-3
        .footer-header Previous editions
        ul.footer-list
          li: a.anchor(href="http://2015.droidcon.pl" target="_blank") 2015
          li: a.anchor(href="http://2014.droidcon.pl" target="_blank") 2014
      .col-xs-12.col-md-12.col-lg-6#social-and-global
        .row#social-icons
          .col-xs-12
            a(href="{{socialAssets.facebook.href}}" target="_blank")
              .social-img([inlineSVG]="socialAssets.facebook.imgSrc")
            a(href="{{socialAssets.twitter.href}}" target="_blank")
              .social-img([inlineSVG]="socialAssets.twitter.imgSrc")
            a(href="{{socialAssets.github.href}}" target="_blank")
              .social-img([inlineSVG]="socialAssets.github.imgSrc")
            a(href="{{socialAssets.googlePlus.href}}" target="_blank")
              .social-img([inlineSVG]="socialAssets.googlePlus.imgSrc")
            a(href="{{socialAssets.youTube.href}}" target="_blank")
              .social-img([inlineSVG]="socialAssets.youTube.imgSrc")
            //- TODO picture media
        .row#global-reference
          .col-xs-6.col-md-9.col-lg-8
            img(src="{{socialAssets.droidconGlobal.imgSrc}}" alt="{{socialAssets.droidconGlobal.alt}}")
          .col-xs-6.col-md-3.col-lg-4
            p
              | droidcon is a registered trademark by
              | Mobile Seasons GmbH
  #copyright.container
    .row
      .col-xs-12
         span &copy; droidcon Kraków 2016
